[Unit]
Description=Ban Mod Bot

[Service]
User=deploy
WorkingDirectory=/app/ban_mod_bot
ExecStart=/usr/bin/python3 -m bot
Restart=always

[Install]
WantedBy=multi-user.target